header {
    margin: 0;
    background-color: gray;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px ;
    position: fixed;
    top: 0;
    left: 1;
    right: 1;
    width: 75%;


}

.nav_li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav_li li {
    float: left;
}

li a:hover {
    background-color: #111;
}

.nav_li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.burger {
    display:none;
}

@media screen and (max-width:780px) {

    header{
        width: 100%;
    }

    #btn1{
        position:relative;
        
      }
    .nav_li {
        position:absolute;
        background-color:gray;
        visibility:hidden;
        opacity:0;
        width: 100%;
    }
    
    .show {
  visibility: visible;
  opacity: 1;
}

    .burger {
        display:block
    }
    .burger:checked+ul {
        display: block;
    }

    .nav_li li {
        float: none;
    }

}