header {
    margin: 0;
    background-color: gray;

}

.nav_li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav_li li{
    float: left;
}

li a:hover {
    background-color: #111;
  }
.nav_li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .menu-btn{
    float: right;
    visibility: hidden;
  }

  @media screen and (max-width:780px){
    ul{
        display: none;
    }
   
    }       
    .burger:checked + ul {
        display: block;
      }
    
    .nav_li li{
       float: none;
    }

    .menu-btn{
        display: flex;
        justify-content: flex-end;
        visibility: visible;
      }


}